PORT=3003
CLIENTE_API_URL=http://localhost:3001
PRODUCTO_API_URL=http://localhost:3002
DATABASE_URL=postgresql://compra_user:compra_pass_123@localhost:5432/compra_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=compra_db
DB_USER=compra_user
DB_PASSWORD=compra_pass_123
